<section class="footer navyBg">
  <div class="container">
    <div class="row text-white py-5">

      <div class="col-sm-4">
        <div class="inner d-flex flex-column justify-content-center align-items-center">
          <h2 class="text-uppercase">location</h2>
          <p class="text-center">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="inner d-flex flex-column justify-content-center align-items-center">
          <h2 class="text-uppercase text-center">around the web</h2>
          <div class="icons-wrapper d-flex justify-content-center align-items-center">
            <i class="fab fa-facebook icon mx-1 rounded-icon"></i>
            <i class="fab fa-twitter icon mx-1 rounded-icon"></i>
            <i class="fab fa-linkedin icon mx-1 rounded-icon"></i>
            <i class="fas fa-globe icon mx-1 rounded-icon"></i>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="inner">
          <h2 class="text-uppercase text-center">about freelancer</h2>
          <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center py-3 darkNavyBg text-white">Copyright © Your Website 2021
  </div>

</section>
