<section class="about terqBg min-vh-100 d-flex justify-content-center align-items-center py-5">
  <div class="container">
    <div class="about-content py-5">
      <h2 class="fs-1 text-white text-uppercase fw-bolder text-center">about component</h2>
      <div class="linesStar d-flex justify-content-center align-items-center pb-3">
        <div class="line"></div>
        <i class="fa fa-star text-white px-3"></i>
        <div class="line"></div>
      </div>
      <div class="row text-white px-5">
        <div class="col-sm-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-sm-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
  </div>
</section>
