<nav class="navbar navbar-expand-lg fixed-top py-4">
  <div class="container">
    <a routerLink="home" class="navbar-brand text-white text-uppercase fw-bolder fs-2">start framework</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="navButton"
            class="nav-link active text-white text-uppercase fw-bold fs-6 mt-3 mx-2" aria-current="page">about</a>
        </li>
        <li class="nav-item">
          <a routerLink="portfolio" routerLinkActive="navButton"
            class="nav-link text-white text-uppercase fw-bold fs-6 mt-3 mx-2" aria-current="page">portfolio</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" routerLinkActive="navButton"
            class="nav-link text-white text-uppercase fw-bold fs-6 mt-3 mx-2" aria-current="page">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>