<section class="home terqBg min-vh-100 py-5">
  <div class="container">
    <div class="home-content d-flex flex-column justify-content-center align-items-center py-5">
      <div class="home-img">
        <img src="/images/home.svg" class="w-100 my-5" alt="">
      </div>
      <h1 class="text-uppercase text-white fw-bolder pb-2">Start framework</h1>
      <div class="linesStar d-flex justify-content-center align-items-center pb-3">
        <div class="line"></div>
        <i class="fa fa-star text-white px-3"></i>
        <div class="line"></div>
      </div>
      <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
